<h1>Reservation Confirmed!</h1>
<p>Dear <%= @reservation.customer_name %>,</p>
<p>Your reservation at <%= @reservation.restaurant.name %> has been confirmed for <%= @reservation.reservation_date %> at <%= @reservation.reservation_time.strftime("%I:%M %p") %>.</p>